<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">*@
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/my-styles/shared-styles.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <style>
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
        }
    </style>
@*<nav class="navbar navbar-expand-lg navbar-dark bg-danger">*@
<header>
    @*<nav class="navbar navbar-expand-lg navbar-custom  mb-4">
            <div class="container">
                <ul class="nav navbar-nav ">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Tracker", "Index", "Tracker", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Calculators", "Index", "Calculators", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Guides", "Index", "Guides", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("My Profile", "Index", "Profile", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "Index", "About", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>*@

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom mb-4">
        <div class="container pl-4 d-flex align-items-center justify-content-center justify-content-md-between">
            <section data-toggle="collapse navbar-collapse d-flex ">
                <a class="navbar-brand brand-logo-colour " href="/Home">
                    <svg class="p-0 m-0" style="height: 70px; width:80px">
                        <g transform="translate(-52.944263,-56.490274)">
                            <g transform="matrix(0.26458333,0,0,0.26458333,-10.714628,14.473296)"
                               id="g23">
                                <polygon stroke-miterlimit="10"
                                         points="304.288,409.039 294.55,312.115 321.456,306.777 319.658,294.582 324.561,293.842 329.88,291.222 334.232,287.31 337.487,282.868 340.365,277.036 342.152,271.382 343.108,266.295 343.558,259.489 240.95,159.214 594.391,406.522 429.021,326.869 326.499,326.869 "
                                         id="polygon10" />
                                <ellipse stroke-miterlimit="10"
                                         cx="303.621"
                                         cy="261.33701"
                                         rx="20.379"
                                         ry="19.163"
                                         id="ellipse12" />
                            </g>
                        </g>
                    </svg>
                </a>
            </section>

            <a class="navbar-brand" href="/Home">BodyTracker</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07XL">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Tracker", "Index", "Tracker", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Calculators", "Index", "Calculators", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Guides", "Index", "Guides", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("My Profile", "Index", "Profile", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "Index", "About", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    

</header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Fitness Tracker</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
@*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>
