@model BodyCompositionCalculator.Models.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>

    <head>
        <script src="https://kit.fontawesome.com/7ec14fb925.js" crossorigin="anonymous"></script>
        @Styles.Render("~/Content/my-styles/profile-view-style.css")
    </head>
    <h2>Profile</h2>

    <div class="container emp-profile">
        <div class="row justify-content-center">
            <div class="col-md-4 ">
                <hr />
                @using (Html.BeginForm("EditPhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="profile-img   align-content-center">
                        <div class="mb-5 ">
                            @{
                                if(@Model.Photo!=null){
                                var imgSrc = "'" + String.Format("data:image/jpg;base64,{0}", Model.Photo) + "'";
                                var img = new HtmlString(String.Format("<img class='img-thumbnail' src={0}/>", imgSrc));
                                @img
                    }
                                else
                                {
                                                
                                    <svg
                                        viewBox="0 0 100.74507 91.428239"
                                        height="auto"
                                        width="75%">

                                        <g transform="translate(-52.841071,-26.382739)"
                                           id="layer1"
                                           inkscape:groupmode="layer"
                                           inkscape:label="Layer 1">
                                            <g transform="matrix(8.3954222,0,0,7.6190198,36.050227,11.144699)"
                                               id="g21"
                                               style="fill: currentColor">
                                                <path fill-rule="evenodd"
                                                      d="m 13,14 c 0,0 1,0 1,-1 0,-1 -1,-4 -6,-4 -5,0 -6,3 -6,4 0,1 1,1 1,1 z M 3.005,13.056 V 13.054 Z M 3.022,13 h 9.956 a 0.274,0.274 0 0 0 0.014,-0.002 L 13,12.996 C 12.999,12.75 12.846,12.01 12.168,11.332 11.516,10.68 10.289,10 8,10 5.71,10 4.484,10.68 3.832,11.332 3.154,12.01 3.002,12.75 3,12.996 A 1.05,1.05 0 0 0 3.022,13 Z m 9.974,0.056 V 13.054 Z M 8,7 A 2,2 0 1 0 8,3 2,2 0 0 0 8,7 Z m 3,-2 a 3,3 0 1 1 -6,0 3,3 0 0 1 6,0 z"
                                                      id="path10"/>
                                            </g>
                                        </g>
                                    </svg>
                                }

                            }

                        </div>

                        <div class="file btn btn-lg btn-cust-4 mb-0">
                            Choose Photo
                            <input type="file" name="PhotoUpload"/>
                        </div>

                        <div class="row justify-content-center mt-0">
                            <div class="edit-profile-container ">
                                <div class="col ">
                                    <button type="submit" class="btn btn-cust-1 ">Save</button>

                                    @*@Html.ActionLink("Save Photo", "Edit", new {controller = "Profile"}, new {@class = "btn  btn-cust-1 "})*@
                                </div>
                            </div>
                        </div>
                        
                        <container class="row justify-content-center mt-0">
                        </container>

                    </div>
                }
            </div>

            <div class="col-md-8">
                <hr/>

                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bc-label">Your Details</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.UserProfile.FirstName @Model.UserProfile.LastName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Sex</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.UserProfile.Sex.Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(m => m.UserProfile.DateOfBirth)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Height</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.HeightToDisplay</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Activity Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.UserProfile.ActivityLevel.Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Macros</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.UserProfile.Macros *will need to modify the model to allow the values within</p>
                            </div>
                        </div>

                        <hr/>


                        <div class="row">
                            <div class="col-md-6">
                                <label class="bc-label">Units</label>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Weight Unit</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.UserProfile.WeightUnit.Name </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Height Unit</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.UserProfile.HeightUnit.Name </p>
                            </div>
                        </div>

                        <hr/>
                        <div class="row">
                            <div class="edit-profile-container">
                                <div class="col">
                                    @Html.ActionLink("Edit Profile", "Edit", new {controller = "Profile"}, new {@class = "btn  btn-cust-4" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            


    </html>
