@using System.Activities.Expressions
@using System.Web.UI.WebControls
@model BodyCompositionCalculator.Models.UserProgressLog


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <script src="https://kit.fontawesome.com/7ec14fb925.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/datepicker")
</head>


<html lang="en">

<body>

    <h2>Check-In</h2>
    @*@Html.ValidationSummary()*@
    @*//TODO set this as today by default*@

    @using (Html.BeginForm("AddNewProgressLog", "Home", FormMethod.Post, new { @class = "form-group" }))
    {
        <label>Date</label>
        <div class="form-group">
            <div id="date" , class="input-group date datepicker">
                @Html.TextBoxFor(model => model.Date, "{0: dd MMM yyyy}", new { @class = "form-control" })
                <div class="input-group-append input-group-addon">
                    <span class="input-group-text">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.Date)
        </div>


        <label>Weight</label>
        <div class="form-group input-group">
            @Html.TextBoxFor(m => m.WeightInKg, new { @class = "form-control" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-weight"></i>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.WeightInKg)
        </div>


        <label>Body Fat</label>
        <div class="form-group input-group">
            @Html.TextBoxFor(m => m.BodyFat, new { @class = "form-control" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-percentage"></i>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.BodyFat)
        </div>



        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserProfileId)
        @Html.HiddenFor(m => m.UserProfile)
        @Html.HiddenFor(m => m.Photo)
        @Html.AntiForgeryToken()
        ;


        <button type="submit" class="btn btn-primary">Save</button>
    }



    <script>

        $(document).ready(function () {

            $('#date.datepicker').datepicker({
                format: 'dd M yyyy',
                todayBtn: true,
                autoclose: true,
                todayHighlight: true
            });

        });

    </script>


</body>

</html>

