@using System.Activities.Expressions
@using System.Web.UI.WebControls
@model BodyCompositionCalculator.Models.Goal

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create Profile</h2>

@*Without using the using keyword, the form (which is html form type) would remain open as it's not automatically closed.*@
@using (Html.BeginForm("AddNewGoal", "Home"))
{
    @Html.ValidationSummary(true, "Please fix the following errors:")
    <div class="form-group">
        <label>Start Date</label>
        @Html.TextBoxFor(m => m.StartDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>
    <div class="form-group">
        <label>End Date</label>
        @Html.TextBoxFor(m => m.EndDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EndDate)
    </div>
    <div class="form-group">
        <label>Starting Weight</label>
        @Html.TextBoxFor(m => m.StartWeightInKg, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StartWeightInKg)
    </div>
    <div class="form-group">
        <label>Target Weight</label>
        @Html.TextBoxFor(m => m.TargetWeightInKg, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TargetWeightInKg)
    </div>
    <div class="form-group">
        <label>Starting Body Fat</label>
        @Html.TextBoxFor(m => m.StartBodyFat, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.StartBodyFat)
    </div>

    <div class="form-group">
        <label>Target Body Fat</label>
        @Html.TextBoxFor(m => m.TargetBodyFat, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TargetBodyFat)
    </div>


    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.FinalWeightInKg)
    @Html.HiddenFor(m => m.FinalBodyFat)
    @Html.AntiForgeryToken();

    <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}