@using System.Activities.Expressions
@using System.Web.UI.WebControls
@model BodyCompositionCalculator.Models.Goal

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Edit Goal</h2>

@*<div class="form-group">
    <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy">
        <input class="form-control" name="data" type="text" />
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
</div>*@

@*Without using the using keyword, the form (which is html form type) would remain open as it's not automatically closed.*@
@using (Html.BeginForm("AddNewGoal", "Home"))

{
    <div class="form-group">
        <label>Start Date</label>
        <div class="input-group date">
            @*@Html.TextBoxFor(model => model.StartDate, new { @type="date",  @class = "form-control datepicker",  @Value = Model.StartDate.ToString("yyyy-MM-dd") } )*@
            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker", @style = "max-width:none;", @id = "startDate" })
            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>



   
    <div class="form-group">
        <label>End Date</label>
        
        <div class="form-group">
            <div class="input-group col-xs-5">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker", @id = "endDate" })
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar " aria-hidden="true"></i>
                </span>
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.EndDate)
    </div>

 
    <div class="form-group">
        <label>Starting Weight</label>
        @Html.TextBoxFor(m => m.StartWeightInKg, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StartWeightInKg)
    </div>
    <div class="form-group">
        <label>Target Weight</label>
        @Html.TextBoxFor(m => m.TargetWeightInKg, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TargetWeightInKg)
    </div>
    <div class="form-group">
        <label>Starting Body Fat</label>
        @Html.TextBoxFor(m => m.StartBodyFat, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.StartBodyFat)
    </div>

    <div class="form-group">
        <label>Target Body Fat</label>
        @Html.TextBoxFor(m => m.TargetBodyFat, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TargetBodyFat)
    </div>


    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserProfileId)
    @Html.HiddenFor(m => m.FinalWeightInKg)
    @Html.HiddenFor(m => m.FinalBodyFat)
    @Html.AntiForgeryToken();


    <button type="submit" class="btn btn-primary">Save</button>


}
<p></p>
<p></p>
<p></p>
<div class="input-group date">
    <input type="text" class="form-control"><span class="input-group-addon"><i style="horiz-align: left", class="glyphicon glyphicon-th"aria-hidden="true"></i></span>
</div>
<p></p>
<p></p>
<p></p>
<div>

</div>

@section scripts{


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    
    <script>
        $(function (){$('#sandbox-container .input-group.date').datepicker({
        });;
    </script>
    


    @*TODO - set min date on the Finish date to start date + 1 - https://jqueryui.com/datepicker/#min-max*@
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('#startDate').datepicker({
                format: "d M yyyy",
                showOn: "button",
                buttonImage: "/images/calendar.gif",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true
            }); //Initialise any date pickers
        });
    </script>

    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('#test').datepicker({
                format: "d M yyyy",
                showOn: "button",
                buttonImage: "~/Content/images/calendar.gif",
                todayHighlight: true,
                buttonImageOnly: true,
                autoclose: true,
                clearBtn: true
            }); //Initialise any date pickers
        });
    </script>

    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('#endDate').datepicker({
                minDate: -20,
                format: "d M yyyy",
                showOn: "button",
                buttonImageOnly: true,
                buttonImage: "/content/images/calendar.gif",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true
            }); //Initialise any date pickers
        });
    </script>

}